.App {
  text-align: center;
}

:root {
  --primary: #097db5;
  --waikawa-grey: #606e88;
  --clear-blue: #1d78e2;
  --coral-pink: #ff556a;
  --pea-green: #70bb15;
  --orangey-yellow: #f5a623;
  --dark-grey-blue: #31405c;
  --dusk: #475571;
  --steel: #6d7a95;
  --blue-grey: #8790a2;
  --light-blue-grey: #bfc8da;
  --pale-grey: #eff1f4;
  --light-periwinkle: #dce0e6;
  --pure-white: #ffffff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.lds-ellipsis-container {
  position: relative;
}

.lds-ellipsis {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  left: calc(50% - 32px);
}

.lds-ellipsis .text {
  top: 45%;
  left: 40%;
}

.lds-ellipsis div {
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  top: 50%;
  left: 40%;
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #5f6e88;
  border-radius: 3px;
}

.dialog-opened {
  overflow: hidden
}

div[role|="tooltip"] {
  background-color: #5f6e88 !important;
}
